
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.task_desc  {
    display: block !important;
}


.task {
    border: 1px #1B779E solid;
    padding: 10px;

}

.task p, input {
    display: inline;
}

.task input {
    vertical-align: middle;
}

.title {
    color: #1B779E;
    cursor: pointer;
}

.title:hover {
    text-decoration: underline;
}
.task_list {
    margin: 10px; 
}

.strike {
    text-decoration: line-through;
}

.due_class {
    display: block !important;
    padding: 0px;
}

.icon_class {
    float: right;
    vertical-align: middle;
    font-size: 20px;
    padding-top: 6px;
    cursor: pointer;
    padding: 3px;
}

.col-md {
    padding: 10px;
}